@{
	ViewBag.Title = "Index";
}
<h2>
	Task List</h2>
<ul id="taskList">
</ul>
<form id="theform" action="">
<input type="text" id="subject" />
<input type="submit" value="Add" />
</form>
<script type="text/javascript">
	$(function () {
		var hub = $.connection.taskHub;
		hub.notify = function (subject) {
			$("#taskList").append("<li>" + subject + "</li>");
		};
		$.connection.hub.start(function () {
			hub.init().done(function (items) {
				for (var i = 0; i < items.length; i++) {
					$("#taskList").append("<li>" + items[i] + "</li>");
				}
			});
		});

		$("#theform").submit(function () {
			var subject = $('#subject').val();
			hub.add(subject)
				.done(function () { $('#subject').val('').focus(); })
				.fail(function (message) { alert(message); });
			return false;
		});
	});
</script>
